# Ignore everything
/*

# Files
!.gitignore
!.gitattributes
!.editorconfig
!index.php
!composer.json
!package.json
!gulpfile.js
!LICENSE.txt
!README.md


# Ignore those Files
**/.DS_Store
**.log

# Folders
!src/
!vendor/
