   {% extends 'layout.twig' %}
   {% block content %}   
    <div class="row" id="content">
      {% for object in objects %}
      <div class="medium-12 columns">
        <div class="blog-post">
          <h3>{{object.title}} <small>{{object.created_at}}</small></h3>
          <p>{{object.content|raw}}</p>
          <div class="callout">
            <ul class="menu simple align-right">
              <li><a href="/post/see/{{object.slug}}"><button class="button">Lire la suite</button></a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <div class="row column">
      <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
      </ul>
    </div>
{% endblock %}